alembic==1.7.6
click==8.0.4
Deprecated==1.2.13
Flask-Caching==1.10.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask==2.0.3
greenlet==1.1.2
itsdangerous==2.1.0
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.1.0
packaging==21.3
pip==22.0.4
PyMySQL==1.0.2
pyparsing==3.0.7
redis==4.1.4
setuptools==60.9.3
SQLAlchemy==1.4.32
Werkzeug==2.0.3
wheel==0.37.1
wrapt==1.13.3
